/* sass grid
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
*/

html, body, .container, .box, #md, #frame {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

#frame {
  border:none;
  border-left:solid 1px gray;
}

#hlx-authoring-editor {
  min-width: 320px;
}

.CodeMirror {
  height: 90%;
}

#hlx-authoring-toolbar-disabler {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 47px;
  background: white;
  z-index: 999;
  opacity: 0.8;
  display:block;
}

@media (max-width: 599px) {
  /* <= iPhone X */
  
  #hlx-authoring-preview {
    display:none;
    position: absolute;
    top:48px;
    left:0;
    width: 100%;
    z-index:1000;
  }

  .editor-toolbar > a.icon-fullscreen {
    visibility:hidden;
  }
}

@media (min-width: 600px) {
  /* > iPhone X */
  .container {
    display: flex;
    flex-flow:nowrap;
  }

  .box {
    display: block;
  }

  #hlx-authoring-preview {
    position: relative;
    display:block;
  }

  #hlx-authoring-toolbar-disabler {
    height:5px;
  }

}

.remote-cursor {
  z-index: 9999;
}

.remote-cursor div:nth-of-type(2) {
  height: 18px;
  border-left: 1px solid black;
  top: -18px;
  position: absolute;
  opacity: 0.4;
}

.remote-cursor div:nth-of-type(1) {
  top: -34px;
  height: 12px;
  color: white;
  position: absolute;
  font-size: 10px;
  width: max-content;
  font-family: openSansRegular,Helvetica;
  padding: 2px 4px;
  opacity: 0.8;
}

.remote-cursor.firstline div:nth-of-type(1) {
  top: 0;
}


/* Hide togetherjs mouse cursor*/
.togetherjs-cursor {
  display: none !important;
}